html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

// lists styles
.list-style {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

// links styles
.link-style {
  display: block;
  text-decoration: none;
}

// buttons styles
.button {
  display: inline-block;
  padding: 16px 40px 16px 40px;
  min-width: 130px;
  border: 2px;
  border-color: #ffffff;
  border-radius: 4px;
  // font-family: $main-font-text;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  background-color: transparent;
  color: $main-text-color;
  cursor: pointer;
  transition: background-color 250ms linear;

  &:hover,
  &:focus {
    background-color: $btn-active-bgcolor;
    border: none;
  }
}

// input styles

.input {
  background-color: transparent;
}

// container
@media screen and (max-width: 767px) {
  .container {
    padding: 0 20px;
    margin-left: auto;
    margin-right: auto;
    max-width: 320px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .container {
    padding: 0 74px;
    margin-left: auto;
    margin-right: auto;
    max-width: 768px;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    padding: 0 74px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1024px;
  }
}
