$main-text-color: #ffffff;
$cards-title-color: #000000;
$cards-text-color: #ff6b08;
$errors-text-color: #ff0825;
$main-bgcolor: #ffffff;
$btn-active-bgcolor: #ff6b08;
$pagination-controls-bgcolor: #ff6b08;
